<div *ngIf="filteredPersons$ | async as persons">
  <div class="top-bar">
    <div fxFlex="80%">
      <mat-form-field>
        <label for="filterField">Full Text Search</label>
        <input matInput id="filterField" #filterField [(ngModel)]="fullTextFilter" (keyup)="searchTrigger($event)" placeholder="Full Text Search">
      </mat-form-field>
    </div>
    <div fxFles="20%"><h4>{{persons.length}} Persons </h4></div>
  </div>
  <div class="cardList">
    <app-person *ngFor="let person of persons" [person]="person" class="cardListItem">
    </app-person>
  </div>
</div>
