<div *ngIf="pageState$ | async as pageState"##>
  <div class="top-bar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50%">
      <mat-form-field appearance="legacy" >
        <mat-label style="color: black">Search By Name</mat-label>
        <input matInput id="filterField" #filterField [(ngModel)]="fullTextFilter" (keyup)="searchTrigger($event)" placeholder="Search-Text">
        <mat-hint>in last and first name</mat-hint>
      </mat-form-field>
    </div>
    <div fxFlex="5">
      <mat-select [(ngModel)]="sizePerPage" (selectionChange)="pageSize()"  style="background-color: grey;">
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="20">20</mat-option>
        <mat-option [value]="50">50</mat-option>
        <mat-option [value]="100">100</mat-option>
        <mat-option [value]="300">400</mat-option>
      </mat-select>
    </div>

    <div fxFles="40%">
      <app-page-state [pageState$]="pageState$"
                      (navigation)="navigation($event)"></app-page-state>
    </div>
  </div>
  <div class="cardList">
    <app-person *ngFor="let person of pageState.data" [person]="person" class="cardListItem">
    </app-person>
  </div>
</div>
