<mat-toolbar color="secondary">
  <mat-button-toggle (click)="showImporter=!showImporter" primary>
    Import
  </mat-button-toggle>
  <div *ngIf="progress$ | async as importProgress" fxLayout="row">
    Loading ({{importProgress}}%)
    <mat-progress-bar [value]="progress$| async" mode="determinate"></mat-progress-bar>
  </div>
  <div *ngIf="errs | async as es">
    <span *ngFor="let e of es">{{e.message}}</span>
  </div>
</mat-toolbar>
<div fxLayout="row">
  <div [fxFlex]="showImporter ? 20 : 100">
    <app-person-list [persons$]="personList"></app-person-list>
  </div>
  <div *ngIf="showImporter" fxFlex="80">
    <!--    <mat-expansion-panel title="Import">-->
    <app-csv-import (dataChosen)="import($event)" [forcedArrayFields]="['phone','email']"></app-csv-import>
    <!--    </mat-expansion-panel>-->
  </div>
</div>
