<div class="top">
  <span>Import from CSV</span>
  <div style="float:right; cursor: pointer" (click)="cancel()">
    <mat-icon>cancel</mat-icon>
  </div>
</div>
<mat-card>
<!--  <input type="file" #fileInput ng2FileSelect [uploader]="uploader" (onFileSelected)="fileChosen($event)"/>-->
  <!--  <ng2-file-input (onAction)="fileChosen($event)"></ng2-file-input>-->


  <div>
    <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="20%">
      <span>Delimiter: </span>
      <select [(ngModel)]="delimiter" (change)="parseFile()" placeholder="delimiter">
        <option value=";">;</option>
        <option value=",">,</option>
        <option value="|">|</option>
        <option value="\t">TAB</option>
      </select>
    </div>
    <div fxFlex="80%" ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         (onFileDrop)="fileChosen($event)"
         class="my-drop-zone">
      Drop Files here
    </div>
    <div fxFlex="10%">
      <button mat-raised-button *ngIf="fileList" (click)="parseFile()">Reload</button>
    </div>
    </div>
  </div>

  <div *ngIf="currentEntities | async as entities">
    <app-generic-entity-table [entities]="currentEntities | async"></app-generic-entity-table>
    <button (click)="confirmed()" mat-raised-button class="buttom-button">Import</button>
  </div>
</mat-card>

<app-tiny-log></app-tiny-log>



