<div fxLayout="column" fxLayoutAlign="center stretch">
  <div fxLayout="row"
       fxLayoutGap="20px" class="mat-background-secondary" style="width: 100%; background-color: gray">
    <div fxFlex="10">
      <mat-panel-title><h4>{{title$ | async}}</h4></mat-panel-title>
    </div>
    <div fxLayout="row" fxFlex="60">
      <div *ngIf="progress$ | async as progress" fxLayout="row">
        <span>({{progress}}%)</span>
      </div>
      <div *ngIf="loading$ | async as loading" fxLayout="row">
        <mat-spinner diameter="20" [value]="1"></mat-spinner>
      </div>
    </div>
    <div fxFlex="30" fxLayoutAlign="end">
      <mat-button-toggle (click)="showImporter=!showImporter" primary [disabled]="loading$ | async">
        {{showImporter ? 'Hide ' : 'Show '}}Importer
      </mat-button-toggle>
      <mat-button-toggle (click)="showAsTable=!showAsTable">
        {{showAsTable ? 'Normal View ' : 'Table View '}}
      </mat-button-toggle>
    </div>
  </div>
  <mat-progress-bar [value]="progress$ | async" mode="determinate">Processing</mat-progress-bar>
  <div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Log
      </mat-expansion-panel-header>
      <app-tiny-log></app-tiny-log>
    </mat-expansion-panel>
  </div>
  <ng-container *ngIf="pageState$ | async as pageState" fxLayout="column">
    <div *ngIf="!showImporter">
      <div *ngIf="pageState.data" fxLayout="row" fxLayoutAlign="space-between center"
           style="width: 100%">
        <app-filter-field (filterChanged)="loadEvent($event)"></app-filter-field>
        <app-list-navigation *ngIf="pageState.data.length > 0"
                             fxFlex="35" fxFlexAlign="center end" [pageInfo$]="pageInfo$" (navigationEvent)="navigationEvent($event)"
                             (pageSizeChanged)="pageSizeEvent($event)">
        </app-list-navigation>
      </div>
      <div>
        <app-pure-entity-list *ngIf="!showAsTable"
                              [$entityComponent]="$listElement" [entities$]="data$"></app-pure-entity-list>
        <app-pure-entity-table *ngIf="showAsTable"
                               [entities$]="data$"></app-pure-entity-table>
      </div>
    </div>
  </ng-container>
  <div *ngIf="showImporter">
    <app-csv-import (dataChosen)="import($event)" [forcedArrayFields]="['phone','email']"></app-csv-import>
  </div>
</div>

<!--<div *ngIf="errs | async as es" style="max-height: 40px; overflow-y: auto">-->
<!--  <span *ngFor="let e of es">{{e.message}}</span>-->
<!--</div>-->
