<ng-template #entityContextComponent let-person>
  <button mat-icon-button>
    <mat-icon>calendar_today</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>phone</mat-icon>
  </button>
</ng-template>


<ng-template #entityComponent let-person>
  <app-single-entity [entityService]="service"
                     [entity]="person"
                     [$entityContextComponent]="entityContextComponent"
                     [title]="person.lastname + ' ' + person.firstname"
                     [titleIconName]="'person_pin'">
  </app-single-entity>
</ng-template>

<ng-template #newEditComponent let-person>
  <app-single-entity [entityService]="service"
                     [entity]="person"
                     [$entityContextComponent]="entityContextComponent"
                     [title]="'NEW'"
                     [titleIconName]="'edit'"
                     [editMode]="true">
    </app-single-entity>
</ng-template>



<app-entity-list-frame [$listElementComponent]="entityComponent"
                       [$newElementComponent]="newEditComponent"
                       [entityService]="service"
                       [fullTextSearchFieldNames]="['firstName', 'lastName']"></app-entity-list-frame>
