<mat-card class="wrapper" (mouseenter)="showContext=true" (mouseleave)="showContext=true">
  <mat-card-title>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex="80" fxLayout="row"  fxLayoutAlign="start start">
        <button fxFlex="10" mat-icon-button disabled="true">
          <mat-icon>person_pin</mat-icon>
        </button>
        <div fxLayout="row" fxLayoutAlign="center center" style="padding-top:10px; padding-left: 15px">
          <span>{{person.firstname + ' ' + person.lastname}}</span>
        </div>
      </div>
      <div fxFlex="20" *ngIf="showContext"  fxLayoutAlign="end start">
        <button mat-icon-button>
          <mat-icon>calendar_today</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>phone</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-title>


  <div fxLayout="column"
       fxLayoutAlign="left"
       fxLayoutGap="3px">
    <div>
      {{person.id}} ({{person.dateCreated | date: DATE_FORMAT}})
    </div>
    <div>
      <div>
        {{person.firstname}}
        {{person.lastname}}
      </div>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="left"
         fxLayoutGap="3px">
      <div fxFlex="60%">
        <div *ngFor="let email of person.email">
          {{email}}
        </div>
      </div>
      <div fxFlex="40%">
        <div *ngFor="let phone of person.phone">
          {{phone}}
        </div>
      </div>
    </div>
  </div>
</mat-card>

