<mat-card>
  <mat-card-title>
    {{person.firstname + ' ' + person.lastname}}
  </mat-card-title>
  <div fxLayout="column"
       fxLayoutAlign="left"
       fxLayoutGap="3px">
    <div>
      {{person.id}} ({{person.dateCreated | date: DATE_FORMAT}})
    </div>
    <div>
      <div>
        {{person.firstname}}
        {{person.lastname}}
      </div>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="left"
         fxLayoutGap="3px">
      <div fxFlex="60%">
        <div *ngFor="let email of person.email">
          {{email}}
        </div>
      </div>
      <div fxFlex="40%">
        <div *ngFor="let phone of person.phone">
          {{phone}}
        </div>
      </div>
    </div>
  </div>
</mat-card>


