<div *ngIf="pageState$ | async as pageState" ##>
  <div fxFlex="5">
    <mat-select [(ngModel)]="sizePerPage" (selectionChange)="pageSize()" style="background-color: grey;">
      <mat-option [value]="3">3</mat-option>
      <mat-option [value]="20">20</mat-option>
      <mat-option [value]="50">50</mat-option>
      <mat-option [value]="100">100</mat-option>
      <mat-option [value]="300">400</mat-option>
    </mat-select>
  </div>

  <div fxFles="40%">
    <div *ngIf="pageState$ | async as pageState" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="left center">
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="5px">
        <span>{{pageState.pageInfo.size}} per page, {{pageState.pageInfo.totalElements}} Entries total,  </span>
        <span>Page {{pageState.pageInfo.page + 1}} / {{pageState.pageInfo.totalPages}}</span>
      </div>
      <div *ngIf="pageState.navigation" fxLayout="row" fxLayoutAlign="space-evenly">
        <button [disabled]="pageState.pageInfo.page === 0" mat-icon-button (click)="navigation(navOptions.first)">
          <mat-icon>first_page</mat-icon>
        </button>
        <button [disabled]="pageState.pageInfo.page === 0" mat-icon-button (click)="navigation(navOptions.prev)">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button [disabled]="pageState.pageInfo.page === pageState.pageInfo.totalPages -1" mat-icon-button
                (click)="navigation(navOptions.next)">
          <mat-icon>chevron_right</mat-icon>
        </button>
        <button [disabled]="pageState.pageInfo.page === pageState.pageInfo.totalPages -1" mat-icon-button
                (click)="navigation(navOptions.last)">
          <mat-icon>last_page</mat-icon>
        </button>
      </div>
    </div>

  </div>
</div>
