<mat-card class="wrapper" (mouseenter)="showContext=true" (mouseleave)="showContext=true">
  <mat-card-title>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex="80" fxLayout="row"  fxLayoutAlign="start start">
        <button fxFlex="10" mat-icon-button disabled="true">
          <mat-icon>my_location</mat-icon>
        </button>
        <div fxLayout="row" fxLayoutAlign="center center" style="padding-top:10px; padding-left: 15px">
          <span>{{address.addressline1}}</span>
        </div>
      </div>
      <div fxFlex="20" *ngIf="showContext"  fxLayoutAlign="end start">
        <button mat-icon-button>
          <mat-icon>calendar_today</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>phone</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-title>


  <div fxLayout="column"
       fxLayoutAlign="left"
       fxLayoutGap="3px">
    <div>
      {{address.id}}
    </div>
    <div>
      <div>
        {{address.addressline1}}
      </div>
      <div>
        {{address.addressline2}}
      </div>
      <div>
        {{address.zip}} {{address.city}}
      </div>
      <div>
        {{address.country}}
      </div>
    </div>
  </div>
</mat-card>

