<div *ngIf="pageState$ | async as pageState">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <span>{{pageState.pageInfo.page}} / {{pageState.pageInfo.totalPages}}</span>
    <span>{{pageState.pageInfo.totalElements}} Entries, {{pageState.pageInfo.size}} per page</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly">
    <button mat-icon-button (click)="navigate(navOptions.first)"><mat-icon>first_page</mat-icon></button>
    <button mat-icon-button (click)="navigate(navOptions.prev)"><mat-icon>chevron_left</mat-icon></button>
    <button mat-icon-button (click)="navigate(navOptions.next)"><mat-icon>chevron_right</mat-icon></button>
    <button mat-icon-button (click)="navigate(navOptions.last)"><mat-icon>last_page</mat-icon></button>
  </div>

</div>
